[settings]
screenchange-reload = true

#include(bars/main-bar.template)
#include(bars/status-bar.template)

# Custom modules
#include(modules/powermenu.template)
#include(modules/spotify.template)

# Internal modules
#include(modules/i3.template)
#include(modules/mpd.template)
#include(modules/wlan.template)
#include(modules/eth.template)
#include(modules/date.template)
#include(modules/pulseaudio.template)
