[module/spt]
type = custom/script
exec = $HOME/.config/polybar/scripts/polybar-spt.sh
interval = 1

label = "%output%"
label-fail = "%output%"
format-background = #2f2f38

click-left = spt playback --toggle
