set $background /usr/share/backgrounds/archlinux/archwave.png

# autostart applications
exec_always --no-startup-id feh --bg-fill $background
exec --no-startup-id xfce4-power-manager
exec --no-startup-id clipit
exec --no-startup-id picom --config  ~/.config/picom/picom.conf

# autostart polybar
exec_always --no-startup-id $HOME/.config/polybar/launch.sh

# configure multiple keyboard layouts and hotkey to switch
exec_always --no-startup-id setxkbmap -layout "us,ee" -option "grp:shifts_toggle"

